<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vue js CDN-->
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <style>
        .class1 {
            background: greenyellow;
            color: red;
        }
    </style>
</head>

<body>
    <div id="app1">
        <p> {{message}}</p>
    </div>
    <div id="app2">
        <label for="r1">修改顏色</label>
        <input type="checkbox" v-model="use" id="r1">
        <br><br>
        <div v-bind:class="{'class1':use}">
            v-bind:對tag class 下指令
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app1',
            data: {
                message: "這是new 的指令"
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                // checkbox 勾選時=> 承接v-model="use"的值
                // use是flase 則不大顯示背景顏色 
                use: false,
            }
        })
    </script>
</body>

</html>